<h1>Blog</h1>
<%= link_to "Create New post", new_blog_path %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <% @blogs.each do |blog| %>
        <tr>
          <td><%= blog.title %></td>
          <td><%= blog.content %></td>
          <td>
            <%= link_to "Show", blog_path(blog.id) %>
            <%= link_to "Edit", edit_blog_path(blog.id) %>
            <%= link_to "Delete", blog_path(blog.id), method: :delete, data: {confirm: "Esta seguro de eliminar este post?"}%>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
